<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>404 Page</title>

<link rel="stylesheet" href="/stylesheets/style3.css">

</head>
<body>

<div class="about">
   <a class="bg_links social portfolio" href="#">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble" href="#">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin" href="#">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>

<nav>
	<div class="menu">
		<p class="website_name">LOGO</p>
		<div class="menu_links">
			<a href="" class="link">about</a>
			<a href="" class="link">projects</a>
			<a href="" class="link">contacts</a>
		</div>
		<div class="menu_icon">
			<span class="icon"></span>
		</div>
	</div>
</nav>

<section class="wrapper">

	<div class="container">

		<div id="scene" class="scene" data-hover-only="false">


			<div class="circle" data-depth="1.2"></div>

			<div class="one" data-depth="0.9">
				<div class="content">
					<span class="piece"></span>
					<span class="piece"></span>
					<span class="piece"></span>
				</div>
			</div>

			<div class="two" data-depth="0.60">
				<div class="content">
					<span class="piece"></span>
					<span class="piece"></span>
					<span class="piece"></span>
				</div>
			</div>

			<div class="three" data-depth="0.40">
				<div class="content">
					<span class="piece"></span>
					<span class="piece"></span>
					<span class="piece"></span>
				</div>
			</div>

			<p class="p404" data-depth="0.50">fail</p>
			<p class="p404" data-depth="0.10">fail</p>

		</div>

		<div class="text">
			<article>
				<p>请点击按钮进行注册<br>或重新登录哦</p>
				<button><a href="/signup" target="_blank">注册</a></button>
				<button class="butt"><a href="/Logre" target="_blank">重新登录</a></button>
			</article>
		</div>

	</div>
</section>

<script src='/javascripts/parallax.min.js'></script>
<script src='/javascripts/jquery.min3.js'></script>
<script src="/javascripts/script.js"></script>

</body>
</html>