<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
    <!-- value="<%=obj.name %>" -->
    <!-- value="<%=obj.ID %>" -->
       <form action="/admin/add"  method="POST"> <!-- 这里admin是匹配路由的路径，/add则是匹配post请求方式下的路径 -->
           <input type="hidden" name="ID"  placeholder="请填写ID"  />
           <input type="text" name="name"  placeholder="请填写姓名" />
           <br/>
           <input type="int" name="BlogID" placeholder="请填写博客ID" />
           <br/>
           <input type="text" name="Blog" placeholder="请填写博客内容" />
           <br/>
           <input type="text" name="email" placeholder="请填写Email" />
           <br/>
           <input type="number" name="phnoe" placeholder="请填写电话号码" />
           <br/>
           <input type="submit" placeholder="请提交" />
       </form>
   </div>
</body>
</html>