<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/stylesheets/style_new.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body>
<h1>USER Add Form</h1>
<div class="log">
	<div class="content2">
		<h2>USER Add Form</h2>
		<form action="/user/add_user"  method="POST">
            <input type="hidden" name="ID" />
			<input type="text" name="name" placeholder="USERNAME"/>
			<input type="text" name="age" placeholder="age"/>
			<input type="text" name="birth" placeholder="birth" />
            <input type="text" name="address" placeholder="address" />
			<input type="text" name="email" placeholder="Email" />
            <input type="text" name="phone" placeholder="phone" />
			<input type="submit" class="register" placeholder="提交">
		</form>
	</div>
</div>
</body>
</html>