<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/stylesheets/style_new.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body>
<h1>REMARK Add Form</h1>
<div class="log">
	<div class="content2">
		<h2>REMARK Add Form</h2>
		<form action="/remark/add_remark"  method="POST">
            <input type="hidden" name="id" />
			<input type="text" name="blogid" placeholder="blogid"/>
			<input type="text" name="userid" placeholder="userid"/>
			<input type="text" name="username" placeholder="username" />
            <input type="text" name="remarkerid" placeholder="remarkerid" />
			<input type="text" name="remarkername" placeholder="remarkername" />
            <input type="text" name="remarktext" placeholder="remarktext" />
			<input type="submit" class="register" placeholder="提交">
		</form>
	</div>
</div>
</body>
</html>