<!DOCTYPE html>
<html>
    <!-- lang="en" -->
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
</head>
<body>
    <div class="all"> 
    <div>
        <h1 class="Welcome">Welcome to the administrator interface</h1> 
    </div>
    <div class="search"> 
    <h4 class="ID">ID:</h4>
    <input id="clean_admin" type="text" class="ID_1" placeholder="请输入ID" name="ID" />
    <h4 class="name">用户名:</h4>
    <input id="clear_1_admin" type="text" class="c1" placeholder="请输入用户名" name="name" />
    <div class="b3">
        <button id="first_admin"> <img width="20px" src="/images/search.png"/>查询</button>
        <button onclick="test()">清空</button>
    </div>
    <!-- <div class="user_1">  -->
    <button class="user_1" id="user" >用户操作</button>
    <button class="mark_1" id="mark" >评论操作</button>
    <!-- </div> -->
    </div>
	<table>
		<thead>
            <tr>
                <td colspan="7">
                    <button id="add">添加</button>
                    <!-- <a href="add.html"></a> -->
                </td>
            </tr>
			<tr>
				<td>ID</span></td>
				<td>name</td>
				<td>BlogID</td>
				<td>Blog</td>
				<td>email</td>
                <td>phnoe</td>
                <td>请操作</td>
			</tr>
		</thead>
		<tbody>
			<%  detail.forEach((d,i) => { %>
                <tr>
                    <td><%=d.ID%></td>
                    <td><%=d.name%></td>
                    <td><%=d.BlogID%></td>
                    <td><%=d.Blog%></td>
                    <td><%=d.email%></td>
                    <td><%=d.phnoe%></td>
                    <td>
					<input data-id="<%=d.ID %>" type="button" value="删除" class="de_button" />
					<input data-id="<%=d.ID %>" type="button" value="修改" class="update_button"/>
				    </td>
                </tr>
            <% }) %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
                      <input type="button" value="上一页" id="lastPage"/>
                      <input type="button" value="下一页" id="nextPage"/> 
				</td>
			</tr>
		</tfoot>
    <script  src="/javascripts/admina.js"></script>
    </table>
</div> 
</body>
</html>
 