<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/stylesheets/main.css" />
<noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<img src="/images/logo1.png" alt="" />	
				<!-- <span class="icon fa-gem"></span> -->
			</div>
			<div class="content">
				<div class="inner">
					<h1>江西软件大学</h1>
					<p><a href="https://www.jxuspt.com/">江西软件职业技术大学</a>是全国第一所软件职业技术大学<br />
                    由国家软件百强企业先锋软件股份有限公司于2003年创办<br/>
                    成立之初就成功入选全国35所示范性软件职业技术学院。
                    </p>
				</div>
			</div>
			<nav>
				<ul class="ul_item">
					<li><button id="myblog">Blog</li></button>
					<li><button id="about"><a href="https://www.jxuspt.com/">About us</a></li></button>
					<li><button id="self">Self</li></button>
					<li><button id="LogRe">Login / Register</li></button>
					<!--<li><a href="#elements">Elements</a></li>-->
				</ul>
			</nav>
		</header>
		<footer id="footer">
			<p class="copyright">
				<a target="_blank" href="https://www.jxuspt.com/">学校</a>地址：江西省南昌市先锋创客小镇 邮编：330041<br/>
                电话：0791-83792966     传真：0791-87709377  
			</p>
		</footer>
		 
</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/browser.min.js"></script>
<script src="/javascripts/breakpoints.min.js"></script>
<script src="/javascripts/util.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/new.js"></script>
 
</body>
</html>