<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
</head>
<body>
    <div> 
    <div> 
        <div class="search"> 
        <h4 class="ID">ID:</h4>
        <input  id="clean" type="text" class="ID_1" placeholder="请输入ID" name="ID">
        <h4 class="name">用户名:</h4>
        <input id="clear_1" type="text" class="c1" placeholder="请输入用户名" name="name">
        <div class="b3">
            <button id="first"> <img width="20px" src="/images/search.png"/>查询</button>
            <button onclick="test()">清空</button>
        </div>
        <button class="back" id="remark_back">返回首页</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td colspan="8">
                    <button id="add">添加</button>
                    <!-- <a href="add.html"></a> -->
                </td>
            </tr>
            <tr>
                <td>id</td>
                <td>blogid</td>
                <td>user's id</td>
                <td>user's name</td>
                <td>remarker's id</td>
                <td>remarker's name</td>
                <td>remarktext</td>
                <td>请操作</td>
            </tr>
        </thead>
        <tbody>
            <% remark.forEach((remark,i) => { %>
                <tr>
                    <td><%=remark.id%></td>
                    <td><%=remark.blogid%></td>
                    <td><%=remark.userid%></td>
                    <td><%=remark.username%></td>
                    <td><%=remark.remarkerid%></td>
                    <td><%=remark.remarkername%></td>
                    <td><%=remark.remarktext%></td>
                    <td>
                    <input data-id="<%=remark.ID %>" type="button" value="删除" class="de_button" />
                    <input data-id="<%=remark.ID %>" type="button" value="修改" class="update_but" />
                    </td>
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                      <input type="button" value="上一页"  />
                      <input type="button" value="下一页"  /> 
                </td>
            </tr>
        </tfoot>
    </table>
</div>
    <script  src="/javascripts/remark.js"></script>
</body>
</html>