<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/stylesheets/style_new.css" rel='stylesheet' type='text/css' media="all" />
<link href="/stylesheets/send_blog.css" rel='stylesheet' type='text/css' media="all" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/send.css">
<script  src="/javascripts/bootstrap.min.js"></script>
</head>
<body>  
<h1>CAMPU BLOG Form</h1>
<div class="log">
	<div class="content2">
		<h2>CAMPU BLOG Form</h2>
        <h2><a class="event" href="/send_blog/event">EVENT BLOG Form</a></h2>
        <h2><a class="club" href="/send_blog/club">CLUB BLOG Form</a></h2>
        <h2><a class="honor" href="/send_blog/honor">HONOR BLOG Form</a></h2>
		<!-- ---------------form部分------------------- -->
		<form action="/send_blog/send"  method="POST">
			<input type="text" name="campu_title"    placeholder="campu_title"/>
			<input type="text" name="campu_text" placeholder="campu_text" />
			<!-- <input type="text" name="event_title"    placeholder="event_title" /> -->
            <!-- <input type="text" name="event_text"   placeholder="event_text" /> -->
			<!-- <input type="text" name="club_title"   placeholder="club_title" /> -->
            <!-- <input type="text" name="club_text"   placeholder="club_text" /> -->
            <!-- <input type="text" name="honor_title"   placeholder="honor_title" /> -->
            <!-- <input type="text" name="honor_text"   placeholder="honor_text" /> -->
			<input type="submit" class="register" placeholder="提交">
		</form>
	</div>
</div>
</body>
</html>