<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
       <form action="/remark/up-remark"  method="POST"> 
           <input type="hidden" name="id" value="<%=remark.id %>" placeholder="请填写ID"  />
           <input type="text" name="blogid" value="<%=remark.blogid %>" placeholder="请填写blogid" />
           <br/>
           <input type="int" name="userid" value="<%=remark.userid %>" placeholder="请填写userid" />
           <br/>
           <input type="text" name="username" value="<%=remark.username %>" placeholder="请填写username" />
           <br/>
           <input type="text" name="remarkerid" value="<%=remark.remarkerid %>" placeholder="请填写remarkerid" />
           <br/>
           <input type="text" name="remarkername" value="<%=remark.remarkername %>" placeholder="请填写remarkername" />
           <br/>
           <input type="number" name="remarktext" value="<%=remark.remarktext %>" placeholder="请填写remarktext" />
           <br/>
           <input type="submit" placeholder="请提交" />
       </form>
   </div>
</body>
</html>