<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/stylesheets/style_new.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body>
<h1>REMARK Update Form</h1>
<div class="log">
	<div class="content2">
		<h2>REMARK Update Form</h2>
		<form action="/remark/up-remark"  method="POST">
            <input type="hidden" value="<%=remark.id %>" name="id" />
			<input type="text" name="blogid" value="<%=remark.blogid %>"   />
			<input type="text" name="userid" value="<%=remark.userid %>"  />
			<input type="text" name="username"  value="<%=remark.username %>" />
            <input type="text" name="remarkerid" value="<%=remark.remarkerid %>" />
			<input type="text" name="remarkername" value="<%=remark.remarkername %>"  />
            <input type="text" name="remarktext" value="<%=remark.remarktext %>"  />
			<input type="submit" class="register" placeholder="提交">
		</form>
	</div>
</div>
</body>
</html>