<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/stylesheets/style_new.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body>
<h1>USER Update Form</h1>
<div class="log">
	<div class="content2">
		<h2>USER Update Form</h2>
		<form action="/user/up-user"  method="POST">
            <input type="hidden" value="<%=user.id %>" name="id" />
			<input type="text" name="name" value="<%=user.name %>"   />
			<input type="text" name="age" value="<%=user.age %>"  />
			<input type="text" name="birth"  value="<%=user.birth %>" />
            <input type="text" name="address" value="<%=user.address %>" />
			<input type="text" name="email" value="<%=user.email %>"  />
            <input type="text" name="phone" value="<%=user.phone %>"  />
			<input type="submit" class="register" placeholder="提交">
		</form>
	</div>
</div>
</body>
</html>