<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
       <form action="/admin/update"  method="POST"> 
           <input type="hidden" name="ID" value="<%=data.ID %>" placeholder="请填写ID"  />
           <input type="text" name="name" value="<%=data.name %>" placeholder="请填写姓名" />
           <br/>
           <input type="int" name="BlogID" value="<%=data.BlogID %>" placeholder="请填写博客ID" />
           <br/>
           <input type="text" name="Blog" value="<%=data.Blog %>" placeholder="请填写博客内容" />
           <br/>
           <input type="text" name="email" value="<%=data.email %>" placeholder="请填写Email" />
           <br/>
           <input type="number" name="phone" value="<%=data.phone %>" placeholder="请填写电话号码" />
           <br/>
           <input type="submit" placeholder="请提交" />
       </form>
   </div>
</body>
</html>