<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/stylesheets/style_new.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body>
<h1>BLOG Update Form</h1>
<div class="log">
	<div class="content2">
		<h2>BLOG Add Form</h2>
		<form action="/admin/update"  method="POST">
            <input type="hidden" value="<%=data.ID %>" name="ID" />
			<input type="text" name="name" value="<%=data.name %>"  placeholder="blogid"/>
			<input type="text" name="BlogID" value="<%=data.BlogID %>"  placeholder="userid"/>
			<input type="text" name="Blog"  value="<%=data.Blog %>" placeholder="username" />
            <input type="text" name="email" value="<%=data.email %>" placeholder="remarkerid" />
			<input type="text" name="phone" value="<%=data.phone %>" placeholder="remarkername" />
			<input type="submit" class="register" placeholder="提交">
		</form>
	</div>
</div>
</body>
</html>