<!DOCTYPE html>
<html>
    <!-- lang="en" -->
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <script  src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
    <div> 
        <h1>Welcome to the administrator interface </h1>
        <ul class="nav nav-tabs">
            <li ><a href="/admin">BLOG</a></li>
           <li class="active"><a id="user_user">USER</a></li>
           <li><a id="user_mark">REMARK</a></li>
           <li><a href="/send_blog">SEND_BLOG</a></li>
        </ul>
    </div>
    <div>
        <form class="form" action="/user/user_query" method="post">
            <input id="query" class="form-control" type="text" name="user_ID" placeholder="请输入ID">
            <input id="input_query" class="form-control" type="submit" value="查询">
        </form>
        <button class="btn btn-default" id="clear" onclick="test()">清空</button>
        <button class="btn btn-default" id="add_user">添加</button>
    </div>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>birth</th>
                <th>address</th>
                <th>email</th>
                <th>phone</th>
                <th>请操作</th>
            </tr>
		</thead>
		<tbody>
			<%  user.forEach((user,i) => { %>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.name%></td>
                    <td><%=user.age%></td>
                    <td><%=user.birth%></td>
                    <td><%=user.address%></td>
                    <td><%=user.email%></td>
                    <td><%=user.phone%></td>
                    <td>
					<input data-id="<%=user.id %>" type="button" value="删除" class="de_user" />
					<input data-id="<%=user.id %>" type="button" value="修改" class="update_user"/>
				    </td>
                </tr>
            <% }) %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8">
                      <input type="button" value="上一页" id="lastPage"/>
                      <input type="button" value="下一页" id="nextPage"/> 
				</td>
			</tr>
		</tfoot>
    </table>
    <script  src="/javascripts/user.js"></script>
    </div>
</div> 
</body>
</html>
 