#btn btn-big dark-blue-btn-1{
    position: relative;
    left: 100px;
}
.like_num{
    position: relative;
    left: 40px;
    top: -40px;
    font-size: large;
}
.form-control{
    text-align: left;
}
 
 
 
 